 * {
     padding: 0;
     margin: 0;
 }


 body {
     font-family: 'Lato', sans-serif;
     font-family: 'Open Sans', sans-serif;
 }

 section {
     margin: 100px 0;
 }
 .span-tag {
    color: #E55473;
    font-family: Lato;
    font-size: 28px;
    font-weight: 800;
}

 /* header style start  */
 .header {
     background: rgba(229, 84, 115, 0.10);
 }

 .banner-container {
     display: flex;
     justify-content: space-between;
     padding-left: 160px;
     padding-right: 160px;
 }

 .banner-description-h1 {
     color: #272727;
     font-family: Lato;
     font-size: 52px;
     font-weight: 800;
     padding-bottom: 18px;
 }

 .banner-description-paragraph {
     color: rgba(39, 39, 39, 0.60);
     font-family: Lato;
     font-size: 14px;
     font-weight: 400;
     line-height: 28px;
     padding-bottom: 18px;
     padding-right: 110px;
 }

 .banner-description {
     padding-top: 120px;
 }

 .banner-img {
     width: 400px;
     padding-top: 40px;
 }

 .btn {
     border-radius: 8px;
     background: #E55473;
     display: inline-flex;
     padding: 14px 30px;
     gap: 10px;
     border: none;
     color: white;
     cursor: pointer;
 }

 /* header style end   */
 /* our feature style start  */

 .our-feature-container {
     max-width: 992px;
     margin: auto;

 }

 .title {
     color: #272727;
     font-family: Lato;
     font-size: 30px;
     font-weight: 800;
     text-align: center;
     margin-bottom: 18px;

 }

 .title-para {
     color: rgba(39, 39, 39, 0.60);
     text-align: center;
     font-size: 14px;
     font-style: normal;
     font-weight: 400;
     line-height: 24px;
     padding: 0px 270px;
     font-family: 'Lato', sans-serif;
     margin-bottom: 24px;
 }

 .our-feature-gallery {
     display: flex;
     justify-content: space-between;
     gap: 15px;
 }

 .our-feature-gallery-box {
     width: 240px;
     height: 320px;
     padding: 40px 40px 0px 40px;
     text-align: center;
     color: #272727;
     text-align: center;
     font-family: Lato;
     font-size: 16px;
     font-weight: 700;
     line-height: 35px;
     text-decoration-line: underline;
 }

 .feature-img {
     width: 100%;
     height: 100%;
 }

 .background-img1 {
     border-radius: 300px 300px 0px 0px;
     background: rgba(167, 33, 98, 0.15);

 }

 .background-img2 {
     border-radius: 300px 300px 0px 0px;
     background: rgba(5, 151, 160, 0.15);
     align-items: center;
 }

 .background-img3 {
     border-radius: 300px 300px 0px 0px;
     background: rgba(71, 125, 17, 0.15);
 }

 /* our feature style end  */
 /* icon style start */

 .icon-container {
     max-width: 992px;
     margin: auto;
     display: flex;
     justify-content: center;
     gap: 70px;
     font-family: Lato;
     padding: 60px 0px;
     border-radius: 8px;
     background: rgba(39, 39, 39, 0.05);
 }

 .icon {
     width: 55px;
 }

 .icon-box {
     text-align: center;
     color: rgba(39, 39, 39, 0.80);
     font-family: Lato;
     font-weight: 600;
 }


 /* icon style end  */
 /* sale style start  */

 .sale-section {
     border-radius: 8px;
     background: rgba(229, 84, 115, 0.05);
 }

 .sale-container {
     max-width: 992px;
     margin: auto;
     display: flex;
     justify-content: center;
     gap: 100px;
     border-radius: 8px;
     align-items: center;
     padding: 60px 0px;
 }

 .sale-img {
     width: 210px;
 }

 .sale-discretion {
     width: 50%;
     text-align: center;
     color: #272727;
     font-family: Lato;
     font-family: 'Lato', sans-serif;
     font-weight: 800;
 }

 .sale-para {
     color: rgba(39, 39, 39, 0.60);
     text-align: center;
     font-family: Lato;
     font-size: 14px;
     font-style: normal;
     font-weight: 400;
     line-height: 24px;
 }

 .sale-btn {

     margin: 20px auto;
     text-align: center;
     display: flex;
     justify-content: center;
 }

 /* sale style end  */
 /* instagram style start */

 .instagram-container {
     max-width: 992px;
     margin: auto;
 }

 .instagram-photos {
     display: flex;
     justify-content: space-between;

 }

 .instagram-img {
     width: 236px;
 }

 /* instagram style start */
 /* latest  style start  */

 .latest-container {
     max-width: 992px;
     margin: auto;
     position: relative;
 }

 .latest-bg-img {
     width: 100%;

 }

 .latest-img-box {
     position: relative;
     width: 100%;
     display: flex;
     justify-content: center;
 }

 .latest-content-div {
     position: absolute;
     top: 80px;
 }

 .subscribe-area {
     display: flex;
     justify-content: center;
     gap: 10px;
 }
input{
    width: 450px;
    border: none;
    border-radius: 5px;
    padding: 8px;
}


 /* latest  style end  */
 /* footer style start  */

 footer {
     background-color: #111010;
     padding: 100px 0px;
     justify-content: center;
     line-height: 26px;

 }

 .footer-title {
     color: white;
     font-family: Lato;
     font-size: 30px;
     font-weight: 800;
     margin-bottom: 18px;
     text-align: center;

 }

 .footer-para {
     text-align: center;
     font-size: 14px;
     font-weight: 400;
     line-height: 24px;
     font-family: Lato;
     font-weight: 400;
     line-height: normal;
     color: rgba(255, 255, 255, 0.90);
     margin-bottom: 20px;
 }


 .coder {
     color: rgba(255, 255, 255, 0.40);
     text-align: center;
     font-family: Lato;
     font-size: 10px;
     font-weight: 400;
     line-height: 26px;

 }


 /* footer style end  */