* {
    padding: 0;
    margin: 0;
}


body {
    font-family: 'Open Sans', sans-serif;
}

.header {
    background: rgba(229, 84, 115, 0.10);
}

.banner-description-h1 {
    color: #272727;
    font-family: Lato;
    font-size: 52px;
    font-weight: 800;
    padding-bottom: 18px;

}

.banner-description-paragraph {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    padding-bottom: 18px;
    padding-right: 116px;
}

.banner-container {
    display: flex;
    justify-content: space-between;
    padding-left: 160px;
    padding-right: 160px;

}

.banner-description {
    padding-top: 120px;


}

.banner-img-div {}

.banner-img {
    width: 400px;
    padding-top: 40px;
}

.btn {
    border-radius: 8px;
    background: #E55473;
    display: inline-flex;
    padding: 14px 30px;
    gap: 10px;
    border: none;
    color: white;
}